html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 100%;
    position: relative;
}

.navbar {
    position: absolute;
}

.navbar-nav {
    font-size: 1.2rem;
}

.nav-item {
    text-align: right;
}

.colored {
    background: rgb(250, 250,250);
    background-image: linear-gradient(45deg, #e7e9bb 0%, #ae8b9c 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: gradient 2s linear infinite alternate;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
    background-image: linear-gradient(45deg, #e7e9bb 0%, #ae8b9c 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: gradient 2s linear infinite alternate;
}

@media (max-width: 768px) {
    .navbar-custom .navbar-nav .nav-link {
        color: white;
    }
}

.navbar-custom .nav-item:active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgb(195, 198, 201);
}


#main {
    background: url(img/background.jpg);
    height: 100vh;
    background-position: 50% 50%;
}

#mainText {
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
} 

#mainText h1 {
    font-size: 3em;
}

#mainText h3 {
    font-size: 2em;

}

#mainText hr {
    border: 0;
    height: 3px;
    background: rgb(250, 250,250);
    background-image: linear-gradient(45deg, #e7e9bb 0%, #ae8b9c 100%);
    background-size: 200%;
    animation: gradient 2s linear infinite alternate;
}

@keyframes gradient {
    0% {
      background-position: 0%;  
    }
    100% {
        background-position: 100%;
    }
}

@media (max-width: 768px) {
    #mainText {
        top: 40%;
        left: 20%;
    }
}

@media (max-width: 768px) {
    #mainText h1 {
        font-size: 2em;
        color: white;
        background: rgba(51, 51, 51, 0.5);
    }
}

@media (max-width: 768px) {
    #mainText h3 {
        font-size: 1.5em;
        color: white;
        background: rgba(51, 51, 51, 0.5);
    }
}

@media (max-width: 768px) {
    #mainText hr {
        height: 0;
        border: 1.8px solid white;
        background: white;

    }
}

/* start scroll down */

.scrolldownstyle a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transition: opacity .3s;
}

.scrolldownstyle a:hover {
opacity: .5;
}

#scrolldown a {
padding-top: 28px;
}

#scrolldown a span {
position: absolute;
top: 0;
left: 50%;
width: 30px;
height: 50px;
margin-left: -15px;
border: 2px solid #fff;
border-radius: 50px;
box-sizing: border-box;
}

#scrolldown a span::before {
position: absolute;
top: 10px;
left: 50%;
content: '';
width: 6px;
height: 6px;
margin-left: -3px;
background-color: #fff;
border-radius: 100%;
-webkit-animation: scrolldown 2s infinite;
animation: scrolldown 2s infinite;
box-sizing: border-box;
}

@-webkit-keyframes scrolldown {
    0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
    }
    40% {
    opacity: 1;
    }
    80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
}

@keyframes scrolldown {
    0% {
    transform: translate(0, 0);
    opacity: 0;
    }
    40% {
    opacity: 1;
    }
    80% {
    transform: translate(0, 20px);
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
}

  /* end scroll down */

/* styling modal footer */

#infoModal {
    margin-left: 10%;
    margin-top: 8%;
}

#infoModal li {
    padding-top: 5%;;
}

#infoModal a, .form-group {
    color: black;
    font-size: 1.2em;
}

.form-control placeholder {
    font-size: 1.2em;
}

.submit {
    font-size: 1.2em 
}

.modal-header, .modal-footer {
    background: rgba(255,255,255,0.15);
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}

.modal-header {
    border-bottom: 1.5px solid black;
    border-radius: 0px !important;
    color: white;
}

.modal-footer {
    border-top: 1.5px solid black;
}

.modal-content {
    border-radius: 0px;
    border: 0px !important;
}

.modal-dialog {
    border: 0px !important
    ;
}

.btn {
    border-radius: 0px;
}

/* end styling modal footer */

footer {
    background: rgba(255,255,255,0.15);
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    padding: 0.5em;
    font-size: 1.2em;
    text-align: center;
}

footer a {
    margin-left: 1%;
    color: black;
}

footer .btn {
    margin-left: 10%;
}

@media (max-width: 768px) {
    footer a {
        display: none;
    }
}

.status {
    color: red;
    padding-bottom: 5px;
}

/* start styling about section */

#about {
    min-height: 100vh;
    background: #eee;
    padding-top: 2em;
    display: block;
}

@media (max-width: 768px) {
    #about {
        padding-bottom: 3em;
    }
}

#about img {
    width: 14em;
    height: 15em;
    object-fit: scale-down;
    padding: 0;
    margin: 0 auto;
    -webkit-filter: grayscale(100%) !important;
    filter: grey !important;
}

#about img:hover {
    filter: none !important;
    -webkit-filter: grayscale(0%) !important;
}

.aboutSection {
    padding-top: 1em;
    transition: transform .2s;
}

.aboutSection p {
    font-size: 1.2em;
}

.aboutSection .container-fluid:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #about img {
        width: 12em;
        height: 13em;
        filter: none !important;
        -webkit-filter: none !important;
    }
}

@media (max-width: 768px) {
    .aboutSection .container-fluid:hover {
        transform: none;
    }
}

@media (max-width: 768px) {
    .aboutSection p {
        font-size: 1.1em;
    }
}

/* Start styling Portfolio section */

#portfolio {
    min-height: 100vh;
    background: rgba(255,255,255,0.15);
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    padding-top: 2em;
    display: block;
    padding-bottom: 0;
}

.card {
    margin-top: 0.5em;
    padding: 0;
    border: 0 !important;
    border-radius: 10px !important;
    transition: transform .2s;
}

.card-img-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.card-img-bottom {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.card-text {
    text-align: justify;
}

.card-body a {
    align-items: right !important;
}

.card:hover {
    transform: scale(1.06);
}

@media (max-width: 768px) {
    .card {
        margin-top: 1em;
    }
}

@media (max-width: 768px) {
    .card:hover {
        transform:none;
    }
}

/* Start styling Technologies and certifications */

#technologies {
    min-height: 50vh;
    background: #eee;
    padding-top: 2em;
    display: block;
    padding-bottom: 0;
}

@media (max-width: 768px) {
    #technologies {
        padding-bottom: 1em;
    }
}

#technologies img {
    width: 6em;
    height: 6em;
    margin: 0 auto;
    padding: 0;
    margin-top: 3em;
    -webkit-filter: grayscale(100%) !important;
    filter: grey !important;
}

#technologies img:hover {
    filter: none !important;
    -webkit-filter: grayscale(0%) !important;
}

@media (max-width: 768px) {
    #technologies img {
        filter: none !important;
        -webkit-filter: none !important;
    }
}

#certifications {
    min-height: 50vh;
    background: #eee;
    padding-top: 2em;
    display: block;
    padding-bottom: 4em;
}

#certificationsModals img {
    margin-top: 3em;
    -webkit-filter: grayscale(100%) !important;
    filter: grey !important;
}

#certificationsModals img:hover {
    filter: none !important;
    -webkit-filter: grayscale(0%) !important;
}

@media (max-width: 768px) {
    #certificationsModals img {
        filter: none !important;
        -webkit-filter: none !important;
    }
}